<div
    class="items-center w-full p-3 bg-white border border-gray-200 rounded-lg shadow-sm mt-9 md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <div class="flex">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
            [src]="pspec.imageCover" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{pspec.title}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{pspec.description}}</p>
            <h6 class="text-sm font-bold text-gray-900 dark:text-white">{{pspec.category.name}}</h6>
            <div class="flex items-center justify-between">
                <h6 class="text-sm font-bold text-gray-900 dark:text-white">{{pspec.price | currency : 'EGP' }}</h6>
                <div class="flex font-bold">
                    <h6>{{pspec.ratingsAverage}}</h6>
                    <span class="ms-1"><i class="text-yellow-300 fa fa-star" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="w-full p-5 text-white bg-green-700 rounded-full opacity-1" (click)="Addtocart(pspec.id)"> <span class="me-2"><i class="fa-solid fa-plus"></i></span>Add To Cart</button>
    </div>
</div>