<div class="grid gap-6 my-6 md:grid-cols-3 " #showSubcategory>
    @for (category of CategorisList; track $index) {
    <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 hover:shadow-green-600 transition-all 0.5s">
        <a (click)="ShowSubCategory(category._id,category.name)">
            <img class="w-full rounded-t-lg h-[18.75rem] object-center" [src]="category.image" alt="" />
        </a>
        <div class="p-5">
            <a>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-green-600 dark:text-white">
                    {{category.name}}</h5>
            </a>


        </div>
    </div>

    }

</div>
 @defer (on interaction(showSubcategory)){
    <h2 class="my-4 text-3xl font-bold text-center text-green-700">
        Subcategories of {{ SubcategoryName }}
    </h2>
   
    <div class="grid grid-cols-3 gap-3 p-5 my-5 cursor-pointer">
         @for (item of Mycategory; track item._id){
            <div class="w-[320px] p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="w-full mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{item.name}}
                </h5>
            </div>
        }
        
    </div>
}
