<div class="p-10 bg-gray-200">

    <div class="w-11/12 mx-auto">
        <h2 class="text-2xl font-light">Get The Fresh Cart APP</h2>
        <p class="my-3 text-lg font-light text-gray-400 ">We will send you a link , open it on your phone</p>

        <div class="flex justify-between">
            <input type="text" name="street-address" id="street-address" autocomplete="street-address"
                class="block w-9/12 px-3 text-base text-gray-900 bg-white rounded-md outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            <button class="px-4 py-3 text-white bg-green-600 rounded"> Share App link </button>
        </div>

        <div class="w-full my-3 h-[1px] bg-gray-300"></div>

        <div class="flex">
            <span class="pe-4">Payment partners </span>
            <img class="w-[50px]" src="/Images/amazon-pay.png">
            <img class="w-[50px]" src="/Images/mastercard.webp">
            <img class="w-[50px]" src="/Images/get-apple-store.png">
            <img class="w-[50px]" src="/Images/get-google-play.png">
        </div>

        <div class="w-full my-3 h-[1px] bg-gray-300"></div>

    </div>

</div>
