<div class="my-16">
    <h1 class="text-3xl font-extrabold text-center text-green-600">All Brands</h1>

    <div class="grid gap-6 my-6 sm:text-center sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 ">
        @for (Brand of MyBrands; track $index) {
        <div (click)="openModal(Brand)"
            class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 cursor-pointer hover:shadow-green-600 transition-all 0.5s">
            <img [src]="Brand.image" alt="">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-center text-gray-900 dark:text-white">{{Brand.name}}</h5>

        </div>
        }
    </div>
</div>

<!-- Modal -->
@if (showModal) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative w-1/2 p-6 bg-white rounded-lg shadow-lg">
        <!-- Close Button -->
        <button (click)="closeModal()" class="absolute text-gray-500 top-2 right-2 hover:text-gray-700">
            <i class="text-xl fa-solid fa-xmark"></i>
        </button>

        <!-- Brand Image -->
        <img [src]="selectedBrand?.image" alt="" class="object-cover w-full h-[200px] rounded-md p-5">

        <!-- Brand Name -->
        <h2 class="mt-4 text-2xl font-bold text-center text-green-600">{{ selectedBrand?.name }}</h2>

        <!-- Close Button -->
        <button (click)="closeModal()"
            class="ms-[34%]  w-1/3 py-2 mt-4 text-white transition bg-gray-500 rounded-lg hover:bg-gray-600">
            Close
        </button>
    </div>
</div>

}